{% extends 'FsbProxyAppBundle::layout.html.twig' %}

{% block body %}
	<div class='well'>
		{% if error %}
			<div class='alert alert-danger'>
				<p><strong>Erreur !</strong> <span>{{ error.message|trans }}</span></p>
			</div>
		{% endif %}
		<form action='{{ path('fsb_proxy_app_login_check_page') }}' method='post'>
			<div class='form-group'>
				<label for='username' class='control-label'>Utilisateur</label>
				<input type='text' class='form-control' id='username' name='_username' value='{{ last_username }}' />
			</div>
			<div class='form-group'>
				<label for='password' class='control-label'>Mot de passe</label>
				<input type='password' class='form-control' id='password' name='_password' />
			</div>
			<div class='form-group'>
				<input type='submit' class='btn btn-ui-imaginarium' name='submit' value='Connexion' />
			</div>
		</form>
	</div>
{% endblock %}
